
body{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    background-color: #e0e8ff;
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 16px;
    color: #7280a7;
}

h2{
    font-weight: 900;
    text-align: center;
}

h4{
    font-weight: 700;
}

.card{
    background-color: #ffffff; 
    width: 375px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px -10px	#7280a7;
}

.image-container{
    width: 375px;
    border-radius: 10px 10px 0 0;
}

.card-body{
    padding: 15px;
    text-align: center;
}

.annual-plan{
    background-color: 	#f5f7ff;
    border-radius: 10px;
    margin:15px;
    padding: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.annual-fee{
    width: 70%;
    font-family: inherit;
    display: flex;
    flex-direction: column;
    justify-items: left;
    text-align: left;
    padding: 0 0 0 1em;
}

.annual-fee-plan{
    margin-top: 0;
    margin-bottom: 0;
} 

.button{
    font-size: inherit;
    font-family: inherit;  /* musze dodac nowa klase .button font-family: inherit; bo z automatu zarno w .proceed oraz .cancel w wskakuje Arial zamiast fontu z body. Nie wiem dlaczego i gdzie to zresetowac*/
}

.proceed{
    display: inline-block;
    background-color: 	#3829e0;
    color: white;
    border: 9px;
    padding: 10px 60px;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: 0px 10px 10px 8px #e0e8ff;
}

.cancel{
    border: none;
    font-family: inherit;
    background-color: transparent;
    font-weight: 700;
    color: 	#7280a7;
    padding:30px 0 15px;
}

.link{
    text-align: right;
    font-size: inherit;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
}

.pointer:hover{
    cursor: pointer;  
}

.cancel:hover{
    color: #1f2f56;
}

.proceed:hover{
    background-color: #7167ef;       /* hsl(244, 81%, 67%) to jest ten kolor ale niema go w stylech*/
}

.link:hover{
    color:  #7167ef;
    text-decoration: none;
}




